@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px;
}

.todo-container {
  width: 520px;
  margin: 25px auto;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}
