@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  font-size: 16px;
}

.todo-container {
  width: 520px;
  margin: 25px auto;
  padding: 24px 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

.main-form-wrapper {
  border: solid black 1px;
  width: 480px;
  margin: 110px auto 25px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.main-form-wrapper form {
  width: 100%;
}

.main-form-wrapper form > div {
  width: 100%;
}

.main-form-wrapper label {
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0 6px 12px;
}
.main-form-wrapper #name,
.main-form-wrapper #password,
.main-form-wrapper #email,
.main-form-wrapper .password {
  padding: 12px;
  margin: 7px 12px;
  font-size: 1rem;
  width: 95%;
}

.main-form-wrapper label.password-toggle {
  font-size: 0.9rem;
}

.main-form-wrapper .button-wrapper {
  text-align: center;
  margin: 12px auto;
}

.main-form-wrapper button[type='submit'] {
  background-color: #4caf50;
  border-radius: 1rem;
  border: none;
  color: white;
  padding: 7px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.message-box {
  width: 480px;
  margin: 200px auto;
  border: solid black 1px;
  padding: 20px;
}

.main-form-wrapper button[type='submit']:hover {
  background-color: #43a047; /* Darker green */
  color: white;
}

.main-form-wrapper footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
}

.main-form-wrapper footer a {
  color: black;
}

@media only screen and (max-width: 510px) {
  .main-form-wrapper {
    width: 90%;
  }
}
