.todo-item {
  border: solid red 1px;
  margin: 0 0 25px;
}

.todo-item #todo-done {
  appearance: none;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 5px;
  border: 2px solid #555;
}
.todo-item #todo-done:checked {
  background: #ff0000;
}

.todo-name {
  margin: 14px 12px;
  text-align: center;
}

.todo-delete {
  background-color: #df3713;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.todo-delete:hover {
  background-color: #d90000; /* Darker red */
  color: white;
}

.todo-item footer {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: space-between;
}
